<script lang="ts">
  import { Button, Modal, CopyButton, Popover } from 'spaper'
  import { selectedAccount, connected,
           onSupportedNetwork, hasWallet,
           selectedAccountHasOngoingTx } from '../store'
  import type { Address } from '../helpers/eth-helper'
  import { connectWallet } from '../helpers/eth-helper'
  import { handleTxWithUx } from '../helpers/tx-helper'

  let accountModalActive: boolean = false;

  async function connectHandler() {
    if ($selectedAccount) {
      accountModalActive = true;
      return;
    }
    const address: Address = await connectWallet();
    selectedAccount.set(address);
  }

  function logOut() {
    accountModalActive = false;
    selectedAccount.set(null);
  }

  $: truncatedAddress = (
    $connected ?
      $selectedAccount.substring(0, 4) + '...'
      + $selectedAccount.substring($selectedAccount.length-4)
    : ''
  )
</script>

<Button type="secondary" on:click={connectHandler}
        isLink disabled={!$hasWallet || !$onSupportedNetwork}>
  {#if !$hasWallet}
    Installez Metamask pour vous connecter
  {:else if !$onSupportedNetwork}
    Réseau non supporté
  {:else}
    {#if $selectedAccountHasOngoingTx}
      <i class="fas fa-spinner margin-right-small"
         aria-label="Transaction en cours..."></i>
    {/if}
    {truncatedAddress || 'Connexion'}
  {/if}
</Button>

<Modal class="border"
       title="Votre Compte"
       bind:active={accountModalActive}
       closeBtnText="Fermer">
  <p class="text-secondary"><code>{$selectedAccount}</code></p>
  <a href={`https://ropsten.etherscan.io/address/${$selectedAccount}`}
     target="_blank" rel="noopener noreferrer">
    Voir sur l'explorateur ➚
  </a>
  <svelte:fragment slot="footer">
    <CopyButton text={$selectedAccount} successMessage="Copié">
      Copier l'adresse
    </CopyButton>
    <Button on:click={logOut}>
      Déconnexion
    </Button>
  </svelte:fragment>
</Modal>

<style>
.fa-spinner {
  animation: spin 2.5s linear infinite,
             blink 1s alternate infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
@keyframes blink {
  to { color: var(--success); }
}
</style>
