<script lang="ts">
  const links = [
    {
      label: 'Contact',
      href: 'https://coddity.com/contact',
    },
    {
      label: 'Mentions Légales',
      href: 'https://coddity.com/mentions-legales',
    },
  ]
</script>

<footer class="text-neon border border-1 border-secondary
               padding padding-bottom-small background-secondary-a">
  <section>
    © {(new Date).getFullYear()} Coddity
  </section>

  <a href="https://coddity.com/"
           target="_blank"
           rel="noopener noreferrer">
    <img src="https://assets.coddity.com/img/coddity/coddity_inline_xs.png" />
  </a>

  <ul class="margin-top-none">
    {#each links as { label, href }}
      <li><a {href} target="_blank" rel="noopener noreferrer">
        {label}
      </a></li>
    {/each}
  </ul>
</footer>

<style lang="scss">
$neon-light: #f49c9b;

footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  img { border: none; }
  a { background-image: none; }
  li a:hover {
    color: $neon-light;
  }
}
</style>
