<script lang="ts">
  import type { PaperType } from 'spaper/types'
  import { Navbar, Button } from 'spaper'
  import ConnectButton from './ConnectButton.svelte'

  interface NavLink {
    label: string
    href: string
    type: PaperType
  }

  const links: NavLink[] = [
    {
      label: 'Some link',
      href: '',
      type: 'secondary',
    },
  ]
</script>

<Navbar class="padding border border-3 border-secondary background-secondary-a">
  <h3 slot="brand">
    <a href="/#/" class="text-neon border-primary">Punky Places Society</a>
  </h3>
  <ul class="inline">
    {#each links as { label, href, type } }
      <li>
        <Button {type}
                href="/#/{href}">
          {label}
        </Button>
      </li>
    {/each}
    <li>
      <ConnectButton />
    </li>
  </ul>
</Navbar>

<style lang="scss">
:global(nav .modal) {
  /* FIX: papercss nav div default margin */
  margin: 0;
}
:global(nav .modal a) {
  background-image: none;
}
:global(nav .btn-warning) {
  background-color: transparent !important;
}

@media only screen and (max-width: 992px) {
  ul {
    margin-top: 2rem;
    li:not(:last-of-type) {
      margin: 2rem 0;
    }
  }
}
</style>
