$alpha-thresold: .9;

$primary: #22223b;
$secondary: #4a4e69;
$danger: #ef476f;
$neon: #f28482;
$metal: #ebe0e4;

$colors: (
  'metal': $metal,
  'neon': $neon,
  'primary': $primary,
  'secondary': $secondary,
  'danger': $danger,
);

:root {
  // Overwrite papercss theme
  --primary: $primary;
  --secondary: $secondary;
  --success: #2ec4b6;
  --warning: #f6bd60;
  --danger: $danger;
  --muted: #9a8c98;
  --primary-light: #54546d;
  --secondary-light: #7c809b;
  --success-light: #4ce2d4;
  --warning-light: #ffdb7e;
  --danger-light: #ff749c;
  --muted-light: #bdafbb;
  --primary-light-10: #2c2c45;
  --secondary-light-10: #545873;
  --success-light-10: #38cec0;
  --warning-light-10: #ffc76a;
  --danger-light-10: #f95179;
  --muted-light-10: #a496a2;
  --primary-dark-10: #181831;
  --secondary-dark-10: #40445f;
  --success-dark-10: #24baac;
  --warning-dark-10: #ecb356;
  --danger-dark-10: #e53d65;
  --muted-dark-10: #90828e;
  --primary-text: #181831;
  --secondary-text: #40445f;
  --success-text: #24baac;
  --warning-text: #ecb356;
  --danger-text: #e53d65;
  --muted-text: #90828e;
}

body {
  background: linear-gradient(to bottom, var(--success), $neon 55%, var(--warning) 95%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html {
  scrollbar-color: $neon $secondary;
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  &-track {
    background: $secondary;
  }
  &-thumb {
    background: $neon;
    &:hover {
      background: darken($neon, 5);
    }
  }
}

::selection {
  background-color: $neon;
  color: white;
}

@each $style, $value in $colors {
  .text-#{$style} {
    color: $value !important;
  }
  .background-#{$style} {
    background-color: $value !important;
  }
  .border-#{$style} {
    border-color: $value !important;
  }
  .background-#{$style}-a {
    background-color: rgba($value, $alpha-thresold) !important;
  }
}

.border-large {
  border-width: 3px;
}

.text-small {
  font-size: .75rem;
}

.italic {
  font-style: italic;
}

.gradient-secondary-neon {
  background: linear-gradient(
    to right,
    rgba($secondary, $alpha-thresold),
    rgba(darken($neon, 22),  $alpha-thresold),
    rgba($secondary, $alpha-thresold)
  );
}

h1, h2, h3, h4, h5, h6 {
  @extend .text-secondary;
}

h2::first-letter {
  @extend .text-neon;
}

a, .modal a {
  background-image: linear-gradient(5deg, transparent 65%, $neon 80%, transparent 90%),
                    linear-gradient(165deg, transparent 5%, $neon 15%, transparent 25%),
                    linear-gradient(165deg, transparent 45%, $neon 55%, transparent 65%),
                    linear-gradient(15deg, transparent 25%, $neon 35%, transparent 50%);
}

main > h2 {
  text-align: center;
}

nav .collapsible > button {
  margin-top: 1rem;
  @extend .border-neon, .text-neon, .background-secondary;
}

.paper-btn {
  @extend .border-large;
  &:disabled {
    text-decoration: line-through;
  }
}

.btn-warning {
  @extend .background-primary;
  &:hover {
    &:active {
      @extend .background-neon;
    }
  }
}

.modal-body .btn-danger {
  @extend .border-danger, .text-danger;
}

.btn-secondary {
  @extend .text-neon, .border-neon;
  &:disabled {
    opacity: initial;
  }
}

input {
  @extend .border-secondary, .border-large;
  &:focus {
    @extend .border-neon, .border-large;
  }
}

.alert-secondary {
  @extend .text-neon, .border-neon;
}

.progress .bar.secondary.striped {
  background: repeating-linear-gradient(
    45deg,
    $neon,
    $neon 0.25rem,
    $secondary 0.25rem,
    $secondary 0.5rem
  ) !important;
}

.popover-warning::after {
  @extend .text-primary;
}

section.collapsible, .collapsible-body, .collapsible label {
  @extend .border-neon;
}

.card {
  @extend .border-large, .border-neon;
  &-header, &-footer {
    @extend .background-secondary, .text-neon, .border-neon;
  }
  .paper-btn {
    background-color: transparent;
  }
}

.modal-body {
  @extend .border-large, .border-neon, .background-metal;
  .paper-btn {
    @extend .border-secondary, .text-secondary, .background-metal;
  }
}

@keyframes blink-neon {
  from {
    border-color: $primary;
    color: $primary;
  } to {
    border-color: $neon;
    color: $neon;
  }
}

@keyframes blink-neon-border {
  from {
    border-color: $primary;
  } to {
    border-color: $neon;
  }
}

@keyframes blink-neon-text {
  from {
    color: $primary;
  } to {
    color: $neon;
  }
}
