<script lang="ts">
  import Router from 'svelte-spa-router'
  import routes from './routes'
  import Nav from './components/Nav.svelte'
  import Footer from './components/Footer.svelte'
</script>

<Nav />

<main class="paper margin-left-small margin-right-small border
             border-1 border-neon background-metal-a">
  <Router {routes} />
</main>

<Footer />

<style lang="scss" global>
@import '../public/global.scss';

body main {
  min-height: 73vh;
}
</style>
