<script lang="ts">
  import type { Address } from '../../helpers/eth-helper'
  import { Modal } from 'spaper'
  import Loader from '../Loader.svelte'

  export let active: boolean = false
  export let title: string
  export let txHash: Address = null
</script>

<Modal {active} {title}
       closeBtnText="Fermer"
       class="border border-2">
  <Loader />
  {#if txHash}
    <p>Transaction en cours</p>
    <a href="https://ropsten.etherscan.io/tx/{txHash}"
       target="_blank" rel="noopener noreferrer"
       on:click={() => active = false}>
      Voir sur l'explorateur ➚
    </a>
  {:else}
    <p>Confirmer la transaction dans votre wallet</p>
  {/if}
</Modal>
